name: CI
on:  
  workflow_dispatch:

jobs:
  system: 
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm
    steps:
      - run: hostnamectl
      - run: ip -4 a
      - run: free -m
