name: CI
on:  
  workflow_dispatch:

jobs:
  system: 
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm-slim
    steps:
      - run: lsblk
      - run: uname -a
      - run: ls -al
