name: CI
on:  
  workflow_dispatch:

jobs:
  compilationc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - run: make build
  lintpy: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: pip install ifaddr psutil pylint
      - run: pylint --disable=missing-docstring script/mysystem/mysystem.py
