name: sysinfo CI

on:
  push:
    branches:
      - 'feature/**'
    paths:
      - 'src/sysinfo.c'
      - 'script/mysystem/mysystem.py'
    tags:
      - 'v*.*.*'

jobs:
  C-lint-sysinfo:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/feature/')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo lint
        run: make lint

  C-compilation-sysinfo:
    runs-on: ubuntu-latest
    needs: C-lint-sysinfo
    if: startsWith(github.ref, 'refs/heads/feature/') || startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: sysinfo compilation
        run: make build
      - name: Upload binary artifact
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v4
        with:
          name: sysinfo-binary
          path: ./sysinfo

  Py-lint-mysystem:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/feature/')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: lint verification
        run: |
          pip install ifaddr psutil pylint
          pylint --disable=missing-docstring script/mysystem/mysystem.py

  Py-run-mysystem:
    runs-on: ubuntu-latest
    needs: Py-lint-mysystem
    if: startsWith(github.ref, 'refs/heads/feature/')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: run script
        run: |
          pip install ifaddr psutil 
          python script/mysystem/mysystem.py

  deploy:
    runs-on: ubuntu-latest
    needs: C-compilation-sysinfo
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
      packages: write
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: Download binary artifact
        uses: actions/download-artifact@v4
        with:
          name: sysinfo-binary
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: sysinfo
          draft: false
