name: CI Python

on:
  push:
    branches:
      - 'feature/**'
#    paths:
#      - 'script/mysystem/mysystem.py'

jobs:
  Py-lint-mysystem:
    runs-on: ubuntu-latest
    continue-on-error: true
    if: startsWith(github.ref, 'refs/heads/feature/')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip
      - name: lint verification
        run: |
          pip install ifaddr psutil pylint
          pylint --disable=missing-docstring script/mysystem/mysystem.py

  Py-run-mysystem:
    runs-on: ubuntu-latest
    needs: Py-lint-mysystem
    if: startsWith(github.ref, 'refs/heads/feature/')
    steps:
      - name: sysinfo checkout
        uses: actions/checkout@v6
      - name: Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip
      - name: run script
        run: |
          pip install ifaddr psutil 
          python script/mysystem/mysystem.py
